<?xml version="1.0"?>
<ruleset name="Dobby Coding Standard">

	<description>Dobby coding standard.</description>

	<file>./dobby.php</file>

	<arg value="sp"/>

	<!-- Set textdomain. -->
	<config name="text_domain" value="wp-dobby"/>

	<!-- Check for cross-version support for PHP. -->
	<config name="testVersion" value="5.4-"/>
	<rule ref="PHPCompatibility"/>

	<rule ref="WordPress">
		<!-- Allow short array syntax. -->
		<exclude name="Generic.Arrays.DisallowShortArraySyntax"/>
	</rule>

</ruleset>
